@import 'compass';
//screen sizes

	$x-small:"only screen  and (max-width: 480px)";
	$small:"only screen  and (max-width: 767px)";
	$small-medium: "only screen and (min-width: 480px) and (max-width: 767px)";
	$medium: "only screen and (min-width: 768px) and (max-width: 991px)";
	$medium-large: "only screen and (min-width: 992px) and (max-width: 1199px)";
	$large: "only screen and (min-width: 1200px)";
	$small-large: "only screen and (min-width: 767px)";
	$large-only: "only screen and (min-width: 992px)";
	
	
//main font define

	$font:normal normal 13px/18px 'Roboto', sans-serif;	
	$links_color:#777;
	$links_color_hover:#333;
	
	$font-custom:'Roboto', sans-serif;
	
//main border define

	$main_border:1px solid #d3d3d3;
	$main_border_color:#d3d3d3;
	$main_border_type:solid;
	$main_border_width:1px;
	
//other borders defines

	$first_border:1px dotted #d3d3d3;
	$first_border_type:dotted;
	$first_border_color:#d3d3d3;
	$first_border_width:1px;
	
//main boxes and tables bg

	$box_bg:#F3F3F3;
	
//indent resret

	@mixin reset {
		padding:0;
		margin:0;
	}
	
//main inputs define

	@mixin form-default {
		display: block;
		background-color: white;
		font: $font;
		border: $main_border;
		color:#000;
		margin: 0 0 12px 0;
		padding: 6px;
		height: 32px;
		width: 100%;
		outline: none;
		@include border-radius(0);
		@include box-shadow(none);
		@include transition-property(all);
		@include transition-duration(0.15s);
		-webkit-appearance: none;
	}
	
//main button define

	@mixin button {
		display:inline-block;
		padding:4px 20px 5px 20px;
		font: 400 14px/22px $font-custom;
		color:#333;
		border:1px solid;
		border-color:#d3d3d3 #ccc #949494 #ccc;
		margin-bottom:0;
		vertical-align:middle;
		cursor:pointer;
		filter:none;
		@include border-radius(3px);
		@include box-shadow(rgba(black,0.09) 0 2px 0);
		white-space:normal;
		text-align:left;
	}
	
//main heading (h1,h4) define

	@mixin heading {
		color: #333;
		font-size: 15px;
		line-height: 18px;
		font-weight: 400;
		font-family:$font_custom;
		margin: 0 0 30px 0;
		position:relative;
		text-transform:capitalize;
		
			span {
				display:block;
				padding: 8px 15px 12px 18px;
				background: rgb(255,255,255);
				background: -moz-linear-gradient(top,  rgb(255,255,255) 0%, rgb(249,249,249) 100%);
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,255,255)), color-stop(100%,rgb(249,249,249)));
				background: -webkit-linear-gradient(top,  rgb(255,255,255) 0%,rgb(249,249,249) 100%);
				background: -o-linear-gradient(top,  rgb(255,255,255) 0%,rgb(249,249,249) 100%);
				background: -ms-linear-gradient(top,  rgb(255,255,255) 0%,rgb(249,249,249) 100%);
				background: linear-gradient(to bottom,  rgb(255,255,255) 0%,rgb(249,249,249) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9f9f9',GradientType=0 );
				border:$main_border;
				border-left:3px solid #000;	
			}
			a { color:#333;}
			&:after {
				content:".";
				position:absolute;
				bottom:-16px;
				left:-0px;
				height:16px;
				width:100%;
				text-indent:-5000px;
				background:url(../img/heading-shadow.png) repeat-x;
			}
			    @media #{$medium} { font-size:14px; }
	}
	
//sub heading (h2,h3) define

	@mixin sub-heading {
		color: #333;
		text-transform: none;
		font-weight: 400;
		font-size: 14px;
		padding: 10px 0px 0px 0px;
		margin: 0 0 15px 0;
		position: relative;
		border-bottom: 1px solid #d3d3d3;
			
			span {
				position: relative;
				z-index: 1;	
			}
	}
	
//product page heading (h2,h3) define

	@mixin product-heading {
		> h3 {
			display: block;
			background: none repeat scroll 0 0 #A9A9A9;
			color: #333;
			font-size: 15px;
			font-weight: normal;
			line-height: 18px;
			margin: 0px 0 20px;
			padding: 9px 50px 9px 20px;
			position: relative;
			padding: 8px 15px 12px 18px;
			background: rgb(255,255,255);
			background: -moz-linear-gradient(top,  rgb(255,255,255) 0%, rgb(249,249,249) 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,255,255)), color-stop(100%,rgb(249,249,249)));
			background: -webkit-linear-gradient(top,  rgb(255,255,255) 0%,rgb(249,249,249) 100%);
			background: -o-linear-gradient(top,  rgb(255,255,255) 0%,rgb(249,249,249) 100%);
			background: -ms-linear-gradient(top,  rgb(255,255,255) 0%,rgb(249,249,249) 100%);
			background: linear-gradient(to bottom,  rgb(255,255,255) 0%,rgb(249,249,249) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9f9f9',GradientType=0 );
			border:$main_border;
			border-left:3px solid #000;
			
			&:after {
				content:".";
				position:absolute;
				bottom:-16px;
				left:-0px;
				height:16px;
				width:100%;
				text-indent:-5000px;
				background:url(../img/heading-shadow.png) repeat-x;
			}
		}
		
		&.accordion h3 {
			cursor:pointer;
			
				.icon-toggle {
					display: block;
					font-size: 21px;
					line-height: 21px;
					position: absolute;
					right: 10px;
					top: 6px;
				}
		}
	}
	
//product blocks 

	@mixin product-block {
		padding:25px 0 20px 0;
		border:$main_border;
		margin-bottom:30px;
		text-align:center;
		position:relative;
	}