/************************************* desktop menu************************************/
.menu_wrapper {
	position:relative;
	z-index:1;
	background: rgb(31,31,31);
	background: -moz-linear-gradient(top,  rgb(31,31,31) 0%, rgb(10,10,10) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(31,31,31)), color-stop(100%,rgb(10,10,10)));
	background: -webkit-linear-gradient(top,  rgb(31,31,31) 0%,rgb(10,10,10) 100%);
	background: -o-linear-gradient(top,  rgb(31,31,31) 0%,rgb(10,10,10) 100%);
	background: -ms-linear-gradient(top,  rgb(31,31,31) 0%,rgb(10,10,10) 100%);
	background: linear-gradient(to bottom,  rgb(31,31,31) 0%,rgb(10,10,10) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f1f1f', endColorstr='#0a0a0a',GradientType=0 );	
}
.menu_wrapper:after {
	content:".";
	width:100%;
	height:14px;
	left:0;
	bottom:-14px;
	position:absolute;
	background: url(../../../../img/menu-shadow.png) repeat-x;
}
#menu-trigger {
	display: none;
}
#menu-wrap {
	position: relative;
	z-index: 2;
}
#menu-custom, #menu-custom ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#menu-custom:before, #menu-custom:after {
	display: table;
	content: "";
}
#menu-custom:after {
	clear: both;
}
#menu-custom {
	zoom: 1;
}
.desktop #menu-custom li {
	float: left;
	position: relative;
	border-right:1px solid #717171;
}
.desktop #menu-custom > li:first-child {
	border-left:1px solid #717171;
}
.desktop #menu-custom a {
	float: left;
	padding: 12px 20px 17px 20px;
	color: #fff;
	font-size:17px;
	line-height:22px;
	font-weight:normal;
	text-decoration: none;
}
.desktop #menu-custom > a:hover, .desktop #menu-custom > li:hover > a, .desktop #menu-custom > li.sfHoverForce > a {
	background: rgb(80,80,80);
	background: -moz-linear-gradient(top,  rgb(80,80,80) 0%, rgb(64,64,64) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(80,80,80)), color-stop(100%,rgb(64,64,64)));
	background: -webkit-linear-gradient(top,  rgb(80,80,80) 0%,rgb(64,64,64) 100%);
	background: -o-linear-gradient(top,  rgb(80,80,80) 0%,rgb(64,64,64) 100%);
	background: -ms-linear-gradient(top,  rgb(80,80,80) 0%,rgb(64,64,64) 100%);
	background: linear-gradient(to bottom,  rgb(80,80,80) 0%,rgb(64,64,64) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#505050', endColorstr='#404040',GradientType=0 );
}
.desktop #menu-custom li li:hover > a {
	color: #333;
}
.desktop #menu-custom ul {
	display: none;
	margin: 20px 0 0 0;
	padding:10px 30px 15px 30px;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 51px;
	left: 0;
	z-index: 1;
	background: url(../../../../img/sub-menu-bg.gif) repeat-x #fff;
	-webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.36);
	-moz-box-shadow: 0 5px 5px rgba(0,0,0,0.36);
	box-shadow: 0 5px 5px rgba(0,0,0,0.36);
}
.desktop #menu-custom li:hover > ul {
	display: block;
	opacity: 1;
	visibility: visible;
	margin: 0;
}
.desktop #menu-custom ul ul {
	top: -10px;
	left: 220px;
	margin: 0 0 0 20px;
}
.desktop #menu-custom ul li {
	display: block;
	float: none;
	border:none;
	border-top:1px dotted #d3d3d3;
}
.desktop #menu-custom ul li:first-child {
	border:none;	
}
.desktop #menu-custom ul a {
	display: block;
	float: none;
	padding: 10px;
	width: 220px;
	white-space: nowrap;
	text-transform: none;
	font-size:14px;
	line-height:17px;
	color:#777777;
}
.desktop #menu-custom ul a:hover, .desktop #menu-custom ul li.sfHoverForce > a {
	color:#333;
}
#menu-trigger {
	display: none;
}
.desctop #menu-custom {
	display: block;
}
.desktop #menu-custom li.hasSub > a:before {
	content:"";
	font-family:"FontAwesome";
	margin:2px 0 -2px 5px;
	float:right;	
}
.desktop #menu-custom li li.hasSub > a:before {
	content:"";
}
/**************************************************mobile menu**************************************************************/
@media only screen and (max-width:1199px) {
#menu-wrap.desktop {
	display: none;
}
#menu-wrap {
	position: relative;
}
#menu-wrap * {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
#menu-trigger {
	height: 51px;
	line-height: 47px;
	cursor: pointer;
	padding: 0 0 0 0px;
	color: #fff;
	font-weight: 400;
	font-size: 17px;
}
#menu-trigger .menu-icon {
	display: block;
	font-size: 30px;
	line-height: 30px;
	width: auto;
	position: absolute;
	top: 8px;
	right: 0px;
}
.mobile #menu-custom {
	display: none;
	margin: 0;
	padding: 0px 0 0px 0;
	position: absolute;
	top: 51px;
	left:0;
	width: 100%;
	z-index: 1;
	background: url(../../../../img/sub-menu-bg.gif) repeat-x #fff;
	-webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.36);
	-moz-box-shadow: 0 5px 5px rgba(0,0,0,0.36);
	box-shadow: 0 5px 5px rgba(0,0,0,0.36);
}
#menu-custom ul.menu-mobile-2 {
	display: none;
}
#menu-custom li {
	display: block;
	position: static;
	position: relative;
}
#menu-custom > li:first-child {
	margin-top:15px;	
}
#menu-custom > li:last-child {
	margin-bottom:15px;
}
#menu-custom a {
	display: block;
	float: none;
	padding: 10px 20px;
	color: #777;
	font-size: 17px;
}
#menu-custom a:hover {
	color:#333;
}
#menu-custom ul a {
	padding-left: 40px;
	width: auto;
	font-size:14px;
	line-height:17px;
}
#menu-custom ul ul a {
	padding-left: 60px;
	width: auto;
}
.open-mobile-2 {
	display: block;
	font-size: 25px;
	line-height: 30px;
	position: absolute;
	right: 13px;
	top: 4px;
	height: 30px;
	width: 30px;
	text-align: center;
	vertical-align: middle;
	color: #777;
}
.open-mobile-2:hover {
	cursor: pointer;
}
.open-mobile-2:hover + a {
	color:#333;
}
}
